.wrapper {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px 10px 20px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    border-bottom: 1px solid rgba(168, 168, 168, 0.1);
    border-top: none;
    border-right: none;
    border-left: none;
    font-size: 12px;
    :focus {
        border-bottom: 2px black solid;
    }

    img {
        width: 25px;
        transition: transform .2s;
    }
    button :hover {
        transform: scale(1.5)
}
   span {
       display: flex;

    .text {
        margin-bottom: 10px;
    }

   }


}



